*{
	transition: background-color .15s ease-out,color .15s ease-out,border-color .15s ease-out,box-shadow .15s ease-out;
}
body {
  display: flex;
  position: relative;
  min-height: 100vh;
  flex-direction: column;
  background-color: #fcfafc;
  background-image: -webkit-linear-gradient(left top, rgb(52,115,26), rgb(144,181,78));
}
.main{
  line-height: 1.4;position: absolute;
  text-align: center;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 100px;
}
.name-heading{
	border-bottom: 1px solid #E8E8E8;
	margin-bottom: 30px;
}
.name-heading h2{
	font-family: fantasy;
}
.my-image{
	width: 120px;
	height: 120px;
	background-size:cover;
	border-radius:50%;
	background-repeat:no-repeat;
	background-position:center center;
	margin-top: -60px;
}
.body{
	margin-bottom: 20px;
}