body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #fcfafc;
  text-align: center;
}
main {
  flex: 1;
}
header, footer {
	padding: 10px;
}
.heading{
	position: relative;
	top:100px;
}